/problema4/EquipoCelular/nbproject/private/
/problema4/EquipoCelular/build/
/problema3/InstitucionesEducativas/nbproject/private/
/problema3/InstitucionesEducativas/build/
/problema3/InstitucionesEducativas/dist/
/problema2/EquivalenteHora/nbproject/private/
/problema2/EquivalenteHora/build/
/problema2/EquivalenteHora/dist/
/problema1/Terreno/nbproject/private/
/problema1/Terreno/build/
/problema1/Terreno/dist/
